html {
    font-size: 14px;
    margin: 0;
    padding: 0;
    border: border-box;
}


.navbarlist {
    list-style: none;
    max-width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
}

.empty-nav {
margin-left: auto;
}

.nav-left {
padding-right: 3rem;
}

.nav-right {
padding-right: 2rem;
}

.searchbar {
    width: 40rem;
    height: 3rem;
    border-radius: 20px;
    text-align: left;
    border-width: 1px;
    border-color: grey; 
}

.google-logo {
    width: 6rem;
}

.google-mic {
    position: relative;
    right: 6rem;

}

.search-results{
    position: relative;
    left: 170px;


}
h1 {
    font-size: 1.5rem;
    margin: -10px 0px;
    font-weight: normal;
}

a {
    text-decoration: none;
}

.search-item {
    max-width: 600px;
    padding-bottom: 10px;
}

.box-container {
    max-width: 600px;
    display: flex;
    justify-content: space-between;
}


.link-container {
width: 450px;
background: red;

}
.left {
padding: 0;
margin: 0;
float: left;
list-style: none;

}
.right {
padding:0;
margin: 0;
list-style: none;
float: right;
}
